.credit {
  position: relative;
  padding: 3.938rem 0 4.563rem 0;
  background-color: $lemon-green;
  font-family: "Unbounded", sans-serif;

  &::before {
    content: '';
    position: absolute;
    // background-image: url(../../assets/icons/credit__line.svg);
    background-image: url(#{$base-url}/assets/icons/credit__line.svg);
    bottom: 2.314rem;
    right: 11.181rem;
    width: 17.744rem;
    height: 9.528rem;
    background-repeat: no-repeat;
    background-size: cover;
  

  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.938rem;
    align-items: center;
    padding: 0 3rem;

    
      &-paragraph {
        font-size: 2.25rem;
        text-align: center;
        line-height: 2.813rem;
        color: $ebony-clay;
        font-weight: 400;
      }
    
      &-span {
        font-weight: 700;
      }
    
      &-btn {
        @include btn($white, $ebony-clay, 2.25rem, 0.531rem, 7.094rem, 0.831rem, 7.094rem,  6.25rem);
        text-decoration: underline;
        font-weight: 600;
        text-decoration-color: $ebony-clay;
        text-underline-offset: 0.5rem;
        font-family:  "Gilroy", sans-serif;;
      }
  }

}

@media (max-width: 1024px) {
  .credit {
    padding: 2.5rem 0;
  
    &::before {
      // background-image: url(../../assets/icons/credit-tablet.svg);
      background-image: url(#{$base-url}/assets/icons/credit-tablet.svg);
      bottom: 2.5rem;
      right: 11.181rem;
      width: 8.688rem;
      height: 5rem;
      background-repeat: no-repeat;
  
    }
  
    &__container {
      gap: 1.438rem;
  
      
        &-paragraph {
          font-size: 1.5rem;
          line-height: 1.875rem;
        }
      
      
        &-btn {
          @include btn($white, $ebony-clay, 1.25rem, 0.875rem, 6.063rem, 0.875rem, 6.063rem,  6.25rem);
          text-underline-offset: 0.3rem;

        }
    }
  
  }
}

@media (max-width: 460px) {
  .credit {
    padding: 2.188rem 0;
  
    &::before {
      background-image: none;
  
    }
  
    &__container {
      gap: 1.625rem;
  
      
        &-paragraph {
          font-size: 1.25rem;
          line-height: 1.563rem;
        }
      
      
        &-btn {
          @include btn($white, $ebony-clay, 1.25rem, 0.344rem, 2.688rem, 0.644rem, 2.688rem,  2.594rem);
          text-underline-offset: 0.3rem;
        }
    }
  
  }
}