.header {
  position: relative;
  // background: url(../../assets/icons/intro-line.svg) no-repeat;
  background: url(#{$base-url}/assets/icons/intro-line.svg) no-repeat;
  background-size: auto;
  background-position: top 0.813rem right 0;

  &__logo {
    position: absolute;
    top: 2.313rem;
    left: 0;
    padding: 1rem 2.563rem 1rem 9rem;
    background-color: $blue-lotus;
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
    text-decoration: none;

    img {
      width: 9.313rem;
      height: 3.125rem;
    }
  }
}


.intro {
  padding: 12.625rem 0 6.813rem 0;
  // background: url(../../assets/img/intro-background.png) no-repeat;
  background: url(#{$base-url}/assets/img/intro-background.png) no-repeat;
  background-size: 32.75rem 24.125rem;
  background-position: bottom 3.563rem right 0;

  &__title {
    font-family: "Grandis Extended", sans-serif;
    color: $blue-lotus;
    font-weight: 700;
    line-height: 5.125rem;
    font-size: 4rem;
    width: 52.5rem;
  }

  &__paragraph {
    font-family: "Grandis Extended", sans-serif;
    color: $lemon-green;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 3.188rem;
  }

  &__span {
    color: $rangoon-green;
    text-transform: lowercase;
  }

  &__text {
    font-family: "Unbounded", sans-serif;
    width: 36.563rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: $dark-jungle-green;
  }
}

@media (max-width: 1024px) {
  .header {
    // background: url(../../assets/icons/intro-line-tablet.svg) no-repeat;
    background: url(#{$base-url}/assets/icons/intro-line-tablet.svg) no-repeat;
    background-size: auto;
  background-position: top 2.313rem right 0;

  &__logo {
    top: 2.313rem;
    padding: 0.688rem 2.563rem  0.688rem 9rem;
    background-color: $blue-lotus;
  
  }

  }

  .intro {
    padding: 11rem 0 4.688rem 0;
    background-size: 25.735rem 18.938rem;
    background-position: bottom 2.188rem right 0;
  
    &__title {
      line-height: 3.188rem;
      font-size: 2.5rem;
      width: 33.25rem;
    }
  
    &__paragraph {
      font-size: 1.125rem;
      margin-bottom: 2.063rem;
    }
  
  
    &__text {
      width: 28.063rem;
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
  }
}

@media (max-width: 460px) {
  .header {
    // background: url(../../assets/icons/intro-line-mobile.svg) no-repeat;
    background: url(#{$base-url}/assets/icons/intro-line-mobile.svg) no-repeat;
    background-size: auto;
  background-position: top 0 right 0;

  &__logo {
    top: 1.188rem;
    padding: 0.438rem 1.75rem 0.438rem 3.813rem;

    img {
      width: 6.5rem;
      height: 2.188rem;
    }
  
  }

  }

  
  .intro {
    padding: 6.563rem 0 1.375rem 0;
    background-size: 18.625rem 13.688rem;
    background-position: center;
  
    &__title {
      line-height: 1.625rem;
      font-size: 1.25rem;
      width: 100%;
      margin-bottom: 15.875rem;
    }
  
    &__paragraph {
      line-height: 1.625rem;
      font-size: 1.25rem;
      margin-bottom: 0.313rem;
      width: 100%;
      padding-right: 3rem;
    }
  
  
    &__text {
      font-size: 1rem;
      line-height: 1.25rem;
      width: 100%;
    }
  }
}
